<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet"
        th:href="@{/bootstrap/css/bootstrap.css}">
    </head>
    <body>
    <div class="container-fliud">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Productos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    </div><!-- fin contenedor -->
    <br>
    <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" th:each="producto:${productos}">
    <div class="card">
      <img th:src="@{/imagenes/{img}(img=${producto.imagen})}" 
      	width="100px" height="100px" style="margin:10px auto"
      	alt="...">
      <div class="card-body">
        <h5 class="card-title" th:text="${producto.nombre}"></h5>
        <p class="card-text" th:text="${producto.descripcion}"></p>
      </div>
      <div class="card-footer text-muted" >
      <button type="button" class="btn btn-secondary btn-lg">Detalles</button>
  </div>
    </div>
  </div>
  </div>
</div>

    </div>
    <br>
    <div class="container-fluid">
  <div class="jumbotron text-center">
    <h3>Desarrollado con SpringFramework & Bootstrap</h3>     
    <p>&copy;2021 webmaster.gmail.com</p>
  </div>
</div>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    </body>
</html>